.titleContainer {
  text-align: center;
}
.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.navItem a {
  display: block;
  color: black;
  background-color: white;
  text-decoration: none;
}

.navItem a:hover {
  color: red;
}