.topicsContainer {
  text-align: center;
}

.topicContainer h3 {
  display: block;
  color: black;
  background-color: white;
  text-decoration: none;
}

.topicContainer h3:hover {
  color: red;
  cursor: pointer;
}